# Archivos objeto compilados
*.o

# Binarios finales
suckless/dwm/dwm
suckless/st/st
suckless/scroll/scroll
suckless/scroll/ptty
suckless/dmenu/dmenu
suckless/dmenu/stest
suckless/slstatus/slstatus
suckless/slock/slock
suckless/clipmenu/src/clipmenu
suckless/clipmenu/src/clipmenud
suckless/clipmenu/src/clipdel
suckless/clipmenu/src/clipdelmenu
suckless/clipmenu/src/clipctl
suckless/clipmenu/src/clipserve

# Restos de parches
*.orig
*.rej

# Archivos temporales de edición
*~
*.swp
